
body{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote{
    font-size: 1em;
    line-height: 1.6em;
    padding: 0 1.5em;
}

.bet{

    padding-top: .7em;
}
.joseph{
    padding-top: .6em;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container{
    text-align: center;
    padding: .9em, 1.8em;
}

.logo{
    width: 130px;
}


header{
    display: flex;
    justify-content: space-between;
}

.hide-mobile{
    display: none;
}

.menu{
    width: 25px;
    margin-top: 45%;
}

.server{
    width: 70%;
    margin: 2em auto 2em 20%;
}

h1, .subhead{
    position: relative;
    z-index: 3; 
}
.subhead{
    font-size: 1.1em;
}

.blue-container{
    width: 100%;
    background-color: #00c2ff;
    color: rgb(247, 240, 240);
    margin-top: 15%;
    padding: 5em 0 3em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.blue-container:before{
    content: "";
    width: 40px;
    height: 40px;
    background-color:#00c2ff;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}



.blue-container:after{
    content: "";
    width:80px;
    height:80px;
    background-color: white;
    position: absolute;
    top: -80px;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    
    

}
.blue-container ul{
    transform: skewY(2deg);
     
}

.blue-container li{
    margin-bottom: 2.5em;
}

.blue-container img{
    width: 12%;
}

.blue-container ul li:nth-child(3) img{
    width: 9%;

}

.gray-container{
    background-color: #f6f6f6;
    margin-top:  -3%;
    padding: 10em 0 3em;
}

.gray-container ul li :first-child{
    margin-bottom: 2em;

}

figure{
    padding: 0;
    margin: 0;
}

figcaption{
    font-weight: bold;
    color: #00c2ff;
}

h2{
    margin-top: 7%;
}

.cta{
    background-color: #00cc80;
    width: calc(100% - 1em);
    display: block;
    border-radius: 20px;
    color: white;
    padding: .4em;
    margin: 3% auto 7%;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    z-index: 4;
    
}

.cta{
    margin-bottom: 3em;

}

.footer-container{
    background-color:#3d444a;
    width: 100%;
    color: white;
    border-top-right-radius: 40px;
    padding: 3em 0;
    transform: skewX(2deg);
    
}

.footer-container p{
    color: white;
}

.footer-container .container{
    transform: skewY(-2deg);
}

.footer-container:before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: -39px; 
    background-color: #3d444a;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
}

.footer-container:after {
    content: "";
    height: 80px;
    width: 80px;
    background-color: white;
    top: -80px;
    position: absolute;
    z-index: -1;
    left: 0;
    border-radius: 50%;
    
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    color: #9d9d9d;
    font-size: .8 em;
    
}

nav ul{
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    background: rgb(54, 58, 61);
}

nav ul li a:hover{
    background: rgb(66, 76, 83);
}

.exit-btn{
    margin-top: -1.4em;
    margin-bottom: 1em;
    padding: 0 2em;
    text-align: right;
}

.exit-btn img{
    width: 15px;
    cursor: pointer;

}

@media only screen and (min-width: 650px) {
    .server{
        width: 50%;
    }

    h1{
        font-size: 3em;
        margin: 0;
    }
    
    .subhead{
        font-size: 1.6em;
        margin-bottom: 12%;

    }
    .blue-container{
        margin: 0;
    }

     .blue-container img{
         width: 20%;

     }

     .blue-container ul li:nth-child(3) img{
         width: 13%;
         margin-top: -6px;
         
     }

     .blue-container ul li:nth-child(2) img{
         width: 13%;
     }

     .blue-container ul{
         display: flex;
         margin-top: -1em;
         align-items: center;
     }

     .blue-container{
         margin-bottom: 0;
     }

     .gray-container ul{
         display: flex;
         align-items: center;
        
     }
     nav ul{
         width: 40%  ;
     }

    }
     
     @media only screen and (min-width: 875px) {
         .subhead{
             margin-bottom: 15%;

         }

         .blue-container ul{
             margin: 0 0 4% 0;

         }

         .gray-container{
             margin: 4% 0 0;
         }

}

@media only screen and (min-width: 1024px) {
    .cta{
        width: 50%;
       
    }

    .container{
        width: 80%;
        margin: 0 auto;
    }

    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop{
        display: none;

    }

    nav ul{
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    
    nav ul li{
        float: left;
    }

    nav ul li a{
       color: black;
       background-color: inherit;
       text-align: right;

    }

    nav ul li a:hover{
        background-color:inherit;


    }

    .scroll{
        width: 30px;
        animation: move 2s infinite alternate;

    }
     
    @keyframes move {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(20px);
        }
        
    }
}

@media only screen and (min-width: 1024px) {
   .server{
       width: 40%;
       margin: 5em auto 4em 15%;


   } 
   .container{
       width: 8 0%;
   }
   .blue-container{
       padding: 7em -4em -6em 2em;

   }

   .blue-container ul li p, blockquote  {
       font-size: 1.2em;


   }

   .gray-container{
       padding: 6em 0 4em;
   }

   h2{
       margin-top: 4em;

   }
   .blue-container img{
       width: 15%;
   }

   .blue-container ul li:nth-child(3) img{
       width: 8%;
       margin-top: -4px;
   }

}
